<div class="pageColor">
    <div class="container">
        <div class="row avoid">
            <div class="col-md-12">
                <div class="row" *ngIf="authError">
                    <div class="col-12 alrt alert-danger">
                        {{authError?.message}}
                    </div>
                </div>
                <form class="example-form box" [formGroup]="form">
                    <h1 class="topPadding">Sign In</h1>
                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="email" placeholder="Email" />
                        <mat-error *ngIf="email.touched && email.invalid">
                            <mat-error *ngIf="email.errors.required">
                                Please enter Email
                            </mat-error>
                            <mat-error *ngIf="email.errors.pattern">
                                Please Enter valid Email
                            </mat-error>
                        </mat-error>
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                    <mat-form-field hideRequiredMarker class="example-full-width">
                        <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'" required />
                        <mat-icon matSuffix (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}
                        </mat-icon>
                        <mat-hint>Atleast one upercase, lower, digit and special character
                        </mat-hint>
                        <mat-error *ngIf="password.touched && password.invalid">
                            <mat-error *ngIf="password.errors.required">
                                Enter password
                            </mat-error>
                            <mat-error *ngIf="password.errors.pattern">
                                Minimum 8 characters long
                                <br /> Atleast one upercase, lower, digit and special character
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                    <br />

                    <div class="forgotMargin">
                        <a (click)="openDialog()">Forgot Password?</a>
                    </div>

                    <br />

                    <div class="cehckBoxMargin">
                        <mat-checkbox>Keep me logged in</mat-checkbox>
                    </div>

                    <br />
                    <div>
                        <button class="signUp" mat-button routerLink="/signUp">
                           Sign Up
                        </button>
                        <button class="signIn" (click)="Login()" mat-button>Sign In</button>
                    </div>
                    <br>
                    <p style="margin-left: 150px;">OR</p>
                    <br>
                    <a class="btn btn-outline-dark" (click)="GoogleLogin()" role="button" style="text-transform:none; width: 300px;">
                        <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" /> Login with Google
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>