<button style=" float: right;" matTooltip="Close" (click)="onCloseDialog()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>close</mat-icon>
  </button>
<mat-dialog-content class="dialogSize">
    <h1 mat-dialog-title class="title">Change Password</h1>
    <p class="alignCentre">Enter your New Password</p>
    <form class="example-form box" [formGroup]="myForm">
        <mat-form-field class="example-full-width">
            <input matInput formControlName="password" type="password" placeholder="Password Here" />
            <mat-error *ngIf="password.touched && password.invalid">
                <mat-error *ngIf="password.errors.required">
                    Please enter Password
                </mat-error>
                <mat-error *ngIf="password.errors.pattern">
                    Minimum 8 characters long
                    <br /> Atleast one upercase, lower, digit and special character
                </mat-error>
            </mat-error>
            <mat-icon matSuffix (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}
            </mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Confirm password" [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" [errorStateMatcher]="matcher" />
            <mat-icon matSuffix (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}
            </mat-icon>
            <mat-hint>Password should match</mat-hint>
            <mat-error *ngIf="myForm.hasError('notSame')">
                Passwords do not match
            </mat-error>
        </mat-form-field>
        <mat-form-field [hidden]="true">
            <mat-label>Updated At</mat-label>
            <input matInput formControlName="UpdatedAt" name="UpdatedAt" [matDatepicker]="picker1" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    </form>

    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close (click)="changePassword()">Change</button>
    </mat-dialog-actions>
</mat-dialog-content>