<app-navbar></app-navbar>
<div class="container pageColor">
    <div class="row">
        <div class="col-md-12" style="padding-left: 40%">
            <form class="example-form" [formGroup]="form">
                <h1>
                    <b>
                        <mat-icon>loupe</mat-icon>
                    Edit Vehicle</b></h1>
                <mat-form-field class="example-full-width" appearance="outline" hideRequiredMarker>
                    <mat-label>Vehicle No.</mat-label>
                    <input matInput type="number" placeholder="31.4744" formControlName="vehicleNo" required />
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Select Vehicle Sector</mat-label>
                    <mat-select placeholder="Sector" name="sector" formControlName="vehicleSector" required>
                        <mat-option *ngFor="let s of data" [(value)]="s.sectorArea">
                            {{s.sectorArea}}
                        </mat-option>
                    </mat-select>
                    <mat-hint align="end">Select Sector</mat-hint>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline" hideRequiredMarker>
                    <mat-label>Vehicle Driver</mat-label>
                    <input matInput type="text" placeholder="31.4744" formControlName="vehicleDriver" required />
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Vehicle Status</mat-label>
                    <mat-select placeholder="Sector" name="sector" formControlName="vehicleStatus" required>
                        <mat-option value="NEW">NEW</mat-option>
                        <mat-option value="OLD">OLD</mat-option>
                        <mat-option value="NotFunctioning">Not Functioning</mat-option>

                    </mat-select>
                    <mat-hint align="end">Select Status</mat-hint>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline" hideRequiredMarker>
                    <mat-label>Vehicle Assistant Driver</mat-label>
                    <input matInput type="text" placeholder="ali shafqat" formControlName="assisstantDriver" required />
                </mat-form-field>
                <mat-form-field [hidden]="true">
                    <mat-label>Updated At</mat-label>
                    <input matInput formControlName="updatedAt" name="UpdatedAt" [matDatepicker]="picker1" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <button mat-raised-button (click)="update()">
                    <mat-icon>done_outline</mat-icon>
                    Update</button>
                <button mat-raised-button (click)="updateCancel()">
                    <mat-icon>done_all</mat-icon>
                    Cancel</button>
            </form>
        </div>
    </div>

</div>
<app-footer></app-footer>